*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Medium.ttf);
}

.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url('../img/pagina-principal/provincias/jujuy/fondo1.jpg');
    background-size: cover;
    box-shadow: 0px 0px 30px black;

    .encabezado-espacio{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 95%;
        height: 95%;

        .encabezado__superior{
            display: flex;
            justify-content: space-between;
            align-items: start;

            .superior__i{
                img{
                    width: 250px;
                }
                span{
                    display: none;
                    .menu, .close{

                    }
                    .menu{
                        
                    }
                    .close{
                        
                    }
                }
            }

            .superior__nav{
                display: flex;
                gap: 20px;
                margin-top: 20px;

                .nav__buscador{
                    .buscador-btn{
                        background: none;
                        border: none;
                        font-size: 16px;
                        transform: translateY(2px);
                        color: white;
                        cursor: pointer;

                    }
                    .buscador-barra{
                        border-radius: 10px;
                        border: none;
                    }
                }
                .nav__lista{
                    display: flex;
                    gap: 30px;
                    color: white;
                    
                    .lista-item{
                        position: relative;
                        cursor: pointer;
                        a{
                            color: white;
                        }
                        
                        .nav__sub-lista{
                            display: none;
                            position: absolute;
                            opacity: 1;
                            animation-name: aparicion;
                            animation-duration: 0.8s;

                            .sub-item{
                                white-space: nowrap;
                                font-size: 15px;
                                transition: 0.3s;
                                overflow: hidden;
                                &:hover{
                                    transform: translateX(12px);
                                }
                            }
                        }
                        &:hover .nav__sub-lista{
                            display: block;
                            
                        }
                    }
                }
            }
        }
        .encabezado__inferior{
            color: white;
            margin-bottom: 50px;
            h1{
                font-size: 40px;

            }
            p{
                font-size: 20px;
            }
        }
    }
}



/*
.img_fondo {
    width: 100vw;
    height: 80vh;
    background-image: url('../img/pagina-principal/provincias/jujuy/fondo1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;

    .img-contenido{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        h2 {
            margin: 0;
            font-size: 30px;
        }
        p {
            margin: 5px 0 0;
            font-size: 20px;
        }
    }
    
}
*/


.container {
    width:100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    grid-template-rows: repeat(10, auto);
    gap: 15px;

    .item-titulo{
        display: flex;
        justify-content: center;
        background-color: #535353;
        color: #ffffff;
        font-size: 30px;
        grid-column: 1 / 4;
        grid-row: span 2;
        margin: 50px;
    }
}

    .contenedor-grid{
        margin: 0px 150px;
        background-color: #000000;
        
        .container {
            width:100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
            grid-template-rows: repeat(10, auto);
            gap: 15px;

            .item {
                display: flex;
                flex-direction: column;
                background-color: #f0f0f0;
                padding: 20px;
            }
            .item:nth-child(odd) {
                grid-column: 1 / 2;
                grid-row: span 2;
            }
            
            .item:nth-child(even) {
                grid-column: 2 / 3;
                grid-row: span 2;
            }
        }
        
    }







.footer{
    width: 100%;
    background-color: black;

    .box-padre{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    
        .box-hijo {
            ul,li,a {
                display: block;
                text-decoration: none;
                font-size: 18px;
                color: rgb(190, 190, 190);
                margin-bottom: 15px;
                transition: all .3s ease;
                & :hover{
                    color: #ffffffff;
                    padding-left: 6px;
                }
            }

            figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .img-provincias{
                width:200px;
            }
            h2{
                color: #ffffff;
                margin-bottom: 25px;
                font-size: 20px;
            }
            p{
                color: #b6b6b6;
                margin-bottom: 15px;
            }
            .red-social {
                a{
                    display: inline-block;
                    text-decoration: none;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    color: #fefefe;
                    margin-right: 10px;
                    background-color: #32a3ff;
                    text-align: center;
                    transition: all 300ms ease;
                    border-radius: 50px;
                    transition: filter 0.3s, transform 0.3s;

                    &:hover{
                        color: rgb(255, 255, 255);
                        transform: scale(1.35);
                        
                    }
                } 
            }
            .mail{

                .controls{
                    width: 80%;
                    background-color: #000000;
                    padding: 8px;
                    border-radius: 4px;
                    margin-bottom: 16px;
                    color: #ffffff;
                    border: 1px solid rgb(58, 160, 255);
                    font-size: 15px;
                    
                }
                .botom{
                    width: 30%;
                    background: #32a3ff;
                    border: none;
                    padding: 12px;
                    color: #ffffff;
                    font-size: 16px;
                    border-radius: 4px;
                    transition: filter 0.3s, transform 0.3s;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.1);

                    }
                }
            }

        }
    }

    .grupo-2{
        background-color: #ffffff;
        padding: 15px 10px;
        text-align: center;
        color: #000000;

        small{
            font-size: 15px;
        }
    }

    @media screen and (max-width:800px){
        .box-padre{
            width: 90%;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
            padding: 35px 0;

            .box-hijo figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
        
                .logo-footer{
                    width: 60px;
                    border-radius: 50px;
                }
            }
        }

    }

}